{% extends 'base.html' %}
{% load humanize %}

{% block core_settings_info %}
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">
          📅 <a class="navbar-brand text-white" href="{% url 'transactions:change_period' %}?next={{ next|urlencode }}">{{ current_month }}.{{ current_year }}</a>
        </span>
        <span class="navbar-brand mb-0 h1">📓 {{ current_space.name }} ({{ current_space.user.username }})</span>
      </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="main-content" id="main-content">
        <div class="container mt-4">
            <div class="row">
                <!-- Блок с доходами -->
                <div class="col-md-6 mb-4">
                    <h5 class="text-center">Доходы</h5>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead class="table-dark">
                                <tr>
                                    <th>Группа</th>
                                    <th>План</th>
                                    <th>Факт</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for income in incomes %}
                                    <tr>
                                        <td>{{ income.group_name }}</td>
                                        <td>{{ income.plan_value|intcomma }}</td>
                                        <td>{{ income.fact_value|intcomma }}</td>
                                    </tr>
                                {% empty %}
                                    <tr><td colspan="3" class="text-center">Нет данных</td></tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
    
                <!-- Блок с расходами -->
                <div class="col-md-6 mb-4">
                    <h5 class="text-center">Расходы</h5>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead class="table-dark">
                                <tr>
                                    <th>Группа</th>
                                    <th>План</th>
                                    <th>Факт</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for expense in expenses %}
                                <tr>
                                    <td>{{ expense.group_name }}</td>
                                    <td>{{ expense.plan_value|intcomma }}</td>
                                    <td>{{ expense.fact_value|intcomma }}</td>
                                </tr>
                                {% empty %}
                                    <tr><td colspan="3" class="text-center">Нет данных</td></tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <h5 class="text-center">Свод</h5>
                <div class="col-md-6 mb-4">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead class="table-dark">
                                <tr>
                                    <th>Тип</th>
                                    <th>План</th>
                                    <th>Факт</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Итого доходы</td>
                                    <td>{{ sum_income_plan|intcomma }}</td>
                                    <td>{{ sum_income_fact|intcomma }}</td>
                                </tr>
                                <tr>
                                    <td>Итого расходы</td>
                                    <td>{{ sum_expense_plan|intcomma }}</td>
                                    <td>{{ sum_expense_fact|intcomma }}</td>
                                </tr>
                                <tr>
                                    <td>Сальдо</td>
                                    <td>{{ balance_plan|intcomma }}</td>
                                    <td>{{ balance_fact|intcomma }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
